body {
  font-family: Arial, sans-serif;
  background-color: #f9c4c9;
  color: #a00404;
  margin: 0;
  padding: 20px;
  overflow-x: hidden;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 150px;
}

.input-box {
  position: relative;
  width: 250px;
}

.input-box input {
  width: 100%;
  padding: 12px;
  border: 2px solid #a00404;
  border-radius: 15px;
  outline: none;
  font-size: 16px;
  background: white;
}

.input-box label {
  position: absolute;
  left: 12px;
  top: 12px;
  color: grey;
  padding: 0 5px;
  transition: 0.3s;
  pointer-events: none;
}

.input-box input:focus + label,
.input-box input:not(:placeholder-shown) + label {
  top: -12px;
  font-size: 12px;
  color: #a00404;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  background: #a00404;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

/* cache */

.cache {
  display: none;
}

#contenu {
  text-align: center;
  margin-top: 50px;
  position: relative;
  z-index: 1;
}

/* coeurs */

.coeur {
  position: fixed;
  top: -30px;
  color: #ff4d6d;
  font-size: 20px;
  animation: tomber linear forwards;
  z-index: 0;
}

@keyframes tomber {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(110vh);
  }
}
